.img-container{
    display: flex;
    justify-content: space-around;

    img{
        margin: 20px;
        border: solid 5px #ffbf00;
    }
}

.table{
    margin: 10px;
    border: solid 5px #ffbf00;
}