<div class="img-container">
    <img src="https://picsum.photos/200/300" alt="1">
    <img src="https://picsum.photos/200/300" alt="2">
    <img src="https://picsum.photos/200/300" alt="3">
</div>

<app-banner></app-banner>


<div *ngIf="loading">Loading...</div>
<table *ngIf="!loading" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pok of pokemons">
            <td>{{pok.id}}</td>
            <td>{{pok.name}}</td>
            <td>{{pok.type}}</td>
        </tr>
    </tbody>
</table>