.banner{
    background-color: #ffbf00;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

span{
    font-size: 40px;
    font-weight: 900;
    color: blue;
    }