

.navbar {
  background-color: #ffbf00 !important;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.logo{
  height: 80px;
  width: auto;
}

