<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <img src="/assets/images/pokemon_logo_PNG3.png" class="logo">
  </div>
    <div class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" (keyup)="keyPressInput($event)">
      <button (click)="searchPokemonInList()" [disabled]="isDisabled" class="btn btn-outline-success my-2 my-sm-0">Search</button>
    </div>
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
</nav>
